{% extends "base.html" %}
{% block content %}
<div class="row header" >
	<div class="col-md-6 title">
		<h1 class="deepshadow">
			<a href="{{url_for('showCatalog')}}">
			     Item Catalog
		    </a>
	    </h1>
	</div>
	<div>
					{%if 'username' not in session %}
			<a class="Login" href="{{url_for('showLogin')}}">Login </a>
			{% else %}
			<a class="Login" href="{{url_for('gdisconnect')}}">Logout </a>
			{% endif %}
	</div>
</div>
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h1>{{ item.title }}</h1>
      <p>{{ item.description }}</p>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<a href="{{url_for('edititem', genre_id= genre_id, item_id = item.id )}}">
				<button class="btn btn-default">
					Edit item
				</button>
			</a>

			<a href="{{url_for('deleteitem', genre_id= genre_id, item_id = item.id  )}}">
				<button class="btn btn-default delete">
					Delete item
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>


{% endblock %}
